.wrap_all {
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   /* font-family: 'Nanum Gothic', sans-serif; */
   box-sizing: border-box;
}

.all_list {
    width: 780px;
    height: 660px;
    margin-left: 10px;
    margin-top: 20px;
}

.left_list01{
    width: 378px;
    height: 600px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    float:left;
    margin-bottom: 10px; 
    margin-left:10px;   

}

/* .left_list02{
    width: 378px;
    height: 645px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    float: right;
    margin-bottom: 10px;
    
} */

.product_image {
   text-align: center;
   margin-top: 10px;

}

.group_01 {
    
}


.number {
    width: 60px;
    /* height: 79px; */
    position: relative;
    /* background-image: url(http://pricehunter.diskn.com/27PKubj9Za); */
    text-align: center;
    /* line-height: 60px; */
    margin-left: 10px;
    display: inline-block;
    
    
    
}

.number p {
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #ff0000;
    font-size: 45px;
    font-weight: 800;
    margin-left : 8px;
    

}

.brand {

    display: inline-block;
    font-size: 34px;
    /* vertical-align: bottom; */
    color: #464646;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
    margin-left: 20px;
    margin-top:-5px;
    

}

.product_name {
    letter-spacing: -2px;
    font-weight: 700;
    margin-left: 20px;
    font-size: 28px;
    color: #484848;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    line-height: 80%;
    margin-bottom:10px;
}



.product_info { 
    display: inline-block;
    margin-left: 20px; 

}




.product_price1 {
    display: inline-block;
    line-height: 60px;
    width: 359px;
    height: 60px;
    background-image: url("https://pricehunter.diskn.com/37QJOG2cJm");
    margin-left: 10px;
    margin-top: 20px;
    color: white;
    padding-left: 5px;
    
    
}


.product_price2 {
    
    width: 328px;
    height: 46px;
    line-height: 38px;
    background-image: url("https://pricehunter.diskn.com/2S9fYY3qQG");
    margin-left: 20px;
    margin-top: 8px;
    color: white;
    
    padding-left: 5px;

}

.title {
    font-weight: 800;
    color: #616161;

    font-size: 22px;
}

.size {
    margin-left: 20px;
    color: #222121;
}

.sub {
    font-size: 20px;
    color: #373737;
   
}


.normal_price {
    display: inline;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 25px;
    vertical-align: middle;
    line-height: 60px;
    padding-left: 10px;
  
    
}

.price_01 {
    
    float:right;
    display: inline-block;
    font-size: 33px;
    font-weight: 800;
    color: #d10f0f;
    line-height: 60px;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    

    
}
.price_02 {
    float:right;
    display: inline-block;
    font-size: 34px;
    font-weight: 800;
    color: red;
    line-height: 46px;
    font-weight: 900;
    
         
}

.price_won {
  
  
    float:right;
    font-size: 20px;
    vertical-align: bottom;
    margin-top:4px;
    font-weight: 700;
    color: #d10f0f;
    margin-right:8px;
    line-height: 60px;
    font-family: 'Noto Sans KR';
    
    
}

.bottom_null {
    display: inline-block;
    width: 300px;
    height: 800px;
}